# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\找工作\Project\gate_position_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
